@import "~rfs/scss";

ion-card{
  --background: var(--ion-card-background);
}

ion-card.first-card{
  padding-top:30px;
}

.greetings {
  font-weight: 700;
  font-style: normal;
  font-size: 52px;
  letter-spacing: -2px;
  line-height: 1;
  color: var(--ion-text-color,#000000);
}

.caption{
  opacity: 0.8;
  font-weight: 400;
  font-style: normal;
  color: var(--caption, #e8e3fd);
  @include font-size(1rem);
}

.login{
  margin-top:30px;
}

ion-title{
vertical-align: middle;
}

ion-button{
  --background: rgba(250, 0, 118, 0.8) ;
  //--background: #93e9be;
}

.feature-icons{
  vertical-align: middle;
  font-size: 35px;
}

.feature-card{
  margin-bottom: 0px;
  margin-top: 0px;
}
