
<ion-card class="home-card">
  <!-- Greet section -->
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text>
            <h1 #greet class="greet-text">Greetings!</h1>
          </ion-text>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col>
          <ion-text>
            <h3 #welcome class="welcome-text">Welcome!!</h3>
          </ion-text>
        </ion-col>
      </ion-row> -->
    </ion-grid>
    <br>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text>
            <h3 class="social-login-text">Log In via your Social media account</h3>
          </ion-text>
        </ion-col>
      </ion-row>
      <br>

    <!-- Social Login Section -->
    <app-social></app-social>

    </ion-grid>

    <hr class="hr-text-home-page" data-content="or Sign-In using TradAssist Account">

    <!-- User Login/Signup Section -->
    <app-user></app-user>

  </ion-card-content>
</ion-card>
