<ion-card class="home-card">

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text>
            <h1 #greet class="greet-text">Hi!</h1>
          </ion-text> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>
            <h3 #welcome class="welcome-text">Welcome!!</h3>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>


    <br>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text>
            <h3 class="social-login-text">Log In via a Social media account</h3>
          </ion-text>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col>
          <ion-fab-button color="light">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-fab-button>
        </ion-col>
        <ion-col>
          <ion-fab-button color="light">
            <ion-icon name="logo-google"></ion-icon>
          </ion-fab-button>
        </ion-col>
        <ion-col>
          <ion-fab-button color="light">
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <hr class="hr-text-home-page" data-content="or Sign-In using TradAssist Account">

    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" inputmode="email" required="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required="true"></ion-input>
    </ion-item>

  </ion-card-content>
</ion-card> 