<form [formGroup]="userForm">
  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="email" inputmode="email" required="true" formControlName="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" required="true" formControlName="password"></ion-input>
    <ion-note slot="error">{{errorMsg}}</ion-note>
    <ion-note slot="end" *ngIf="password.errors?.['incorrect']"><a routerLink="[/home]">Forgot Passowrd?</a></ion-note>
  </ion-item>

  <ion-button color="light" (click)="userLogin()" [disabled]="!userForm.valid">Login</ion-button>
</form>
